.movie-form {
    padding: 16px;
    flex: 0 0 35%;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(33,33,33,.5);
    text-align: center;
}
.movie-form__label {
    display: block;
    margin-bottom: 20px;
    color: #424242;
    text-align: left;
}
.movie-form__input {
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 4px;
    font-size: 20px;
    color: #424242;
    font-family: Roboto,sans-serif;
}
.movie-form__txtarea {
    resize: none;
}
.movie-form__submit {
    border: 0;
    padding: 10px 20px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    background-color: #3f51b5;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
    transition: all .2s linear;
}
.movie-form__submit:hover{
    background-color:#ff5722;
    box-shadow:0 5px 5px 0 rgba(0,0,0,.3);
}
.movie-form__genres {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px;
}
.movie-form__genres label {
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
    -ms-flex-align: center;
    align-items: center;
    color: #424242;
    cursor: pointer;
}
.movie-form__genres input {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}